@forward './css-reset.scss';
@forward './variables.scss';
@forward './mixins.scss';

a {
    color: black;
    text-decoration: none;
}

.flat {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    & > * {
        display: flex;
        align-items: center;
        
    }
}