$cart-bg-color: green;

$size-MD: 768px; //tablets
$size-LG: 992px; //desktops

$content-width-LG: 1200px;
$header-height: 80px;
$header-height-LG: 80px;


$content-width-to-LG: 100%;

$color-orange-gold: #FFD700;
$color-brown-1: #808080;