.header {
    position:fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: $header-height;
    color: white;
    background-color: #808080;

    &__relative-placeholder {
        width: 100%;
        height: $header-height;
    }
    
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include content;
    }

    &__title {
        color: white;
        font-size: 1.8rem;
        @include tablet {
            font-size: 2rem;
        }
    }    
}